/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

/**
 * Button styling. Inherits the structural styling in core.css
 * 
 */
.btn {
	
	@include transition(0.5s $default-easing all);
	@include bf-head();
	@include font-size(14);
	font-weight: normal;
	border: 1px solid $bc-blue;
	color: $bc-blue;
	padding: $half-spacing-unit;

}

.btn:hover{
	background-color: $bc-blue;
	color: $white;    
}