/*------------------------------------*\
    $FORMS
\*------------------------------------*/

/**
 * Form groups
 */
.form-group {
	@include rem((
		margin-bottom: $base-spacing-unit
	));
}


/**
 * Common form controls
 *
 * Shared size and type resets for form controls. Apply `.form-control` to any
 * of the following form controls:
 *
 * select
 * textarea
 * input[type="text"]
 * input[type="password"]
 * input[type="datetime"]
 * input[type="datetime-local"]
 * input[type="date"]
 * input[type="month"]
 * input[type="time"]
 * input[type="week"]
 * input[type="number"]
 * input[type="email"]
 * input[type="url"]
 * input[type="search"]
 * input[type="tel"]
 * input[type="color"]
 **/
.form-control {
	display: block;
	width: 100%;
	@include rem(( 
		height: $input-height-base, // Make inputs at least the height of their button counterpart (base line-height + padding + border)
		padding: $padding-base-vertical $padding-base-horizontal
	));
	border: 1px solid $input-border;
  
	@include font-size( $base-font-size );
	color: $text-color;
	vertical-align: middle;
	background-color: $input-bg;
	border-radius: $border-radius-base;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	
	@include transition( border-color .15s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow .15s cubic-bezier(0.25, 0.1, 0.25, 1) );

	&:focus {
    border-color: rgba(82,168,236,.8);
		outline: 0;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	}

	// Disabled and read-only inputs
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
    cursor: not-allowed;
		background-color: $input-bg-disabled;
	}
}

/**
 * Hidden field
 */
[aria-hidden="true"] {
	display: none !important;
}

/**
 * Messages, callouts, etc
 */
.required {
	color: $state-warning-text;
}

.callout {
	@include rem((
		padding: 15px 30px 15px 15px, 
		margin: $base-spacing-unit 0px
	));
	border-left: 5px solid;
	
	h1 {
		@include font-size( $font-size-large );
		@include rem((
			margin-bottom: 10px
		));
	}
	
	p {
		@include rem((
			margin-bottom: 10px
		));
	}
	
	@include zero-last;
}

.callout--info {
	background-color: $state-info-bg;
	border-left-color: $state-info-border;
}

.callout--warning {
	background-color: $state-warning-bg;
	border-left-color: $state-warning-border;
}

.callout--success {
	background-color: $state-success-bg;
	border-left-color: $state-success-border;
}

.callout--error {
	background-color: $state-danger-bg;
	border-left-color: $state-danger-border;
}
