.post-list {
	border-left: 5px solid $bc-light-grey;
	padding-left: 54px;
}

.post {
	position: relative;
}

.post-list__post {
	
	padding-top: 		$base-spacing-unit;
	padding-bottom: $base-spacing-unit;
	border-bottom: 1px solid $bc-light-grey;
	padding-left: 64px;

	&:first-child {
		padding-top: 0;
	}

	&:after {
		content: ' ';
		width: 50px;
		height: 5px;
		position: absolute;
		top: 50%;
		left: -59px;
		background-color: $bc-light-grey;
	}

}

.post__title {

	@include vertical-font-size(24px);
	line-height: 1.3em;

	a {
		@include transition( 0.5s $default-easing all );
		color: rgb(141, 154, 165);

		&:hover {
			color: $bc-blue;
		}

	}

}

.post__timestamp {
	@include vertical-font-size(14px, 0.3, 0.7);
}

.post__image {
	
	position: absolute;
	top: 		50%;
	margin-top: -35px;
	left: 	-35px;
	width: 	75px;
	height: 75px;
	border-radius: 500px;
	z-index: 999;

}

.post__meta {
	
	margin-top: 		-$half-spacing-unit;
	margin-bottom: 	$base-spacing-unit;

	.post__cats,
	.post__timestamp {
		display: inline-block;
	}

	.post__timestamp {
		margin-right: $half-spacing-unit;
		margin-bottom: 0;
	}

}