/*------------------------------------*\
    $MISC
\*------------------------------------*/

/**
 * The home of misc shared styles that aren't really objects
 * 
 */
%wrap,
.wrap {
	position: relative;
	
	@include container;
	
	@include rem((
		padding: 0 $base-spacing-unit 
	));
	
	@include mq( $from: medium ) {
		@include rem((
			padding: 0 32px
		));
	}
	
	@include old-ie {
		min-width: 960px;
	}

}