.site-footer {
	background-color: $bc-dark-grey;
	padding-bottom: 	$base-spacing-unit;
}

.site-footer__content {
	padding-top: 		$base-spacing-unit;
	padding-bottom: $base-spacing-unit;
}

.site-footer__sign-off {
	@include font-size(14);
	text-align:center;
}

.site-footer__col-title {
	color: $white;
	border-color: tint( $bc-dark-grey, 10% );
}

.site-footer__social-links {
	@extend %cf;
	background-color: darken( $bc-dark-grey, 6% );
}

.site-footer__social-link {
		
	@include font-size(24);
	@include border-box();
	display: block;
	float: left;
	width: 				50px;
	height: 			50px;
	background-color: $bc-blue;
	color: $white;
	text-align: center;

	.i {
		line-height: 	50px;
	}

}

.social-link--github {
	background-color: darken($bc-blue, 8%);
}

.social-link--linkedin {
	background-color: darken($bc-blue, 16%);
}

.social-link--steam {
	background-color: darken($bc-blue, 24%);
}

.site-footer__post-list {
	
	padding: 0;
	border: none;

}

.site-footer__post {
	
	padding-left: 0;
	padding: 				$half-spacing-unit;
	border-bottom: 	1px solid tint( $bc-dark-grey, 10% );
	
	&:after {
		display: none;
	}
	
	.post__title {
		@include vertical-font-size(18px);
	}

	.post__timestamp {
		margin-bottom: 0;
	}

}