.site-header {

	background-color: $bc-dark-grey;
	border-bottom: 1px solid darken( $bc-dark-grey,10% );
	
	&,
	a {
		color: $white;
	}

}

.primary-navigation {
	font-size: 0;
}

.primary-navigation a {
	
	@include bf-head();
	@include font-size(16);
	@include transition(0.5s $default-easing background-color);
	padding-top: 			$half-spacing-unit;
	padding-bottom: 	$half-spacing-unit;
	padding-left: 	$double-spacing-unit;
	padding-right: 	$double-spacing-unit;
	border-right: 1px solid darken( $bc-dark-grey,10% );
	text-align: center;
	
	&:hover {
		background-color: $bc-blue;
	}

}

.primary-navigation li:first-child a {
	border-left: 1px solid darken( $bc-dark-grey,10% );
}

.notification {
	@include font-size(14);
	@include bf-head();
	padding-top: 		$half-spacing-unit;
	padding-bottom: $half-spacing-unit;
	background-color: rgb(193,224,245);
	color: rgb(150,181,201);
}