.site-header {
	
	position: relative;
	background-color: $bc-dark-grey;
	border-bottom: 1px solid darken( $bc-dark-grey,10% );
	
	&,
	a {
		color: $white;
	}

}

.primary-navigation {
	
	@extend %cf;
	
	li {
		display: block !important;
		float: left;
	}

	a {
	
		@include bf-head();
		@include font-size(16);
		@include transition(0.5s $default-easing color);
		display: block;
		padding-top: 			$base-spacing-unit;
		padding-bottom: 	$base-spacing-unit;
		padding-right: 		$double-spacing-unit;
		
		&:hover,
		&.is-current {
			color: $bc-blue;
		}

	}

}

.notification {
	@include font-size(14);
	@include bf-head();
	padding-top: 		$half-spacing-unit;
	padding-bottom: $half-spacing-unit;
	background-color: rgb(193,224,245);
	color: rgb(150,181,201);
}

.site-header__btn {
	@include font-size(14);
	position: absolute;
	top: 		$half-spacing-unit;
	right: 	$base-spacing-unit;
}