.mast {
	position: relative;
	background-color: $bc-blue;
	min-height: 300px;
	text-align: center;
	margin-bottom: 100px;
	padding-left: 	$base-spacing-unit;
	padding-right: 	$base-spacing-unit;
}

.mast__title {
	color: $white;
	padding-top: 60px;
		
	@include mq( $to:large ) {
		@include font-size(32, 1.23em);
	}

}

.me {
	z-index: 999;
	position: absolute;
	bottom: -80px;
	left: 	0;
	right: 	0;
}

.profile__image {
	width: 		150px;
	height: 	150px;
	border-radius: 1000px;
	border: $half-spacing-unit solid darken($bc-blue,10%);
}

.profile {
	display: inline-block;
}

.profile__social-link {
	
	@include font-size(32);
	@include transition(0.5s $default-easing all);
	color: $white;
	position: absolute;
	top: 		50%;
	left: 	50%;
	margin: -15px;
	display: none;

	@include mq( $from:small ) {
		display: block;
	}

	&:hover {
		color: darken($bc-blue,20%);
	}

}

.linkedin {
	
	-webkit-transform: rotate(-140deg) translate(130px);
	
	.i {
		-webkit-transform: rotate(140deg);
	}

}

.github {
	
	-webkit-transform: rotate(-110deg) translate(130px);

	.i {
		-webkit-transform: rotate(110deg);
	}

}

.twitter {
	
	-webkit-transform: rotate(-70deg) translate(130px);

	.i {
		-webkit-transform: rotate(70deg);
	}

}

.steam {
	
	-webkit-transform: rotate(-40deg) translate(130px);
	
	.i {
		-webkit-transform: rotate(40deg);
	}

}