.content {
	
	background-color: $white;
	padding: $base-spacing-unit;
	border: 1px solid darken( $bc-light-grey, 8% );

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	@include mq( $to:medium ) {
		margin-bottom: $base-spacing-unit; 
	}

	@include mq( $from:medium ) {
		@include span(8.5 of 12);
		@include border-box();
	}

}

.sidebar {
	
	background-color: $white;
	padding: $base-spacing-unit;
	border: 1px solid darken( $bc-light-grey, 8% );
	
	@include mq( $from:medium ) {
		@include span(3.5 of 12);
		@include border-box();
		margin-right: 0;
	}

}

.layout {
	@extend %cf;
	overflow: hidden;
	padding-top: $base-spacing-unit;
	padding-bottom: $base-spacing-unit;
}

.layout--alt {
	background-color: $bc-light-grey;
}

.layout__title {
	@include font-size(28);
	margin-bottom: $half-spacing-unit;
	position: relative;
	padding-right: $base-spacing-unit;
}

.col {
	@include border-box();
	
	@include mq( $to:medium ) {
		margin-bottom: $base-spacing-unit;
	}

}

.col__title {
	@include font-size(24);
	margin-bottom: 6px;
}

@include mq( $from:medium ) {

	.col2 {
		
		@include span(6 of 12);

		&:last-child {
			margin-right: 0;
		}

	}


	.col3 {
		
		@include span(3 of 12);

		&:last-child {
			margin-right: 0;
		}

	}

	.col--content {
		
		&:first-child {
			padding-right: $base-spacing-unit;
		}

		&:last-child {
			padding-left: $base-spacing-unit;
		}

	}

	.col4 {
		
		@include span(4 of 12);

		&:last-child {
			margin-right: 0;
		}

	}

}

.post-list {
	border-left: 5px solid $bc-light-grey;
	padding-left: 54px;
}

.post {
	position: relative;
	padding-top: 		$base-spacing-unit;
	padding-bottom: $base-spacing-unit;
	border-bottom: 1px solid $bc-light-grey;
	padding-left: 64px;

	&:first-child {
		padding-top: 0;
	}

	&:after {
		content: ' ';
		width: 50px;
		height: 5px;
		position: absolute;
		top: 50%;
		left: -59px;
		background-color: $bc-light-grey;
	}

}

.post__title {

	@include font-size(24, 1.8rem);
	margin-bottom: $half-spacing-unit;

	a {
		@include transition( 0.5s $default-easing all );
		color: rgb(141, 154, 165);

		&:hover {
			color: $bc-blue;
		}

	}

}

.post__timestamp {
	@include font-size(14);
	margin-bottom: $half-spacing-unit;
}

.post__image {
	
	position: absolute;
	top: 		50%;
	margin-top: -35px;
	left: 	-35px;
	width: 	75px;
	height: 75px;
	border-radius: 500px;
	z-index: 999;

}

.site-footer__post-list {
	
	padding: 0;
	border: none;

}

.site-footer__post {
	
	padding-left: 0;
	padding: 				$half-spacing-unit;
	border-bottom: 	1px solid tint( $bc-dark-grey, 10% );
	
	&:after {
		display: none;
	}
	
	.post__title {
		@include font-size(18);
		margin-bottom: $half-spacing-unit / 2;
	}

	.post__timestamp {
		margin-bottom: 0;
	}

}