.frontpage {
	background-color: $white;
}

.content {
	
	background-color: $white;
	padding: $base-spacing-unit;
	border: 1px solid darken( $bc-light-grey, 8% );

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	@include mq( $to:medium ) {
		margin-bottom: $base-spacing-unit; 
	}

	@include mq( $from:medium ) {
		@include span(8.5 of 12);
		@include border-box();
	}

}

.page-title {
	@include trailing-border(1px, 0.5, 36px);
	border-color: darken( $bc-light-grey, 8% );
}

.sidebar {
	
	background-color: $white;
	padding: $base-spacing-unit;
	border: 1px solid darken( $bc-light-grey, 8% );
	
	@include mq( $from:medium ) {
		@include span(3.5 of 12);
		@include border-box();
		margin-right: 0;
	}

}