/*------------------------------------*\
	$GLOBAL VARIBLES
\*------------------------------------*/

/* A home for site/project varibles and values */

/*------------------------------------*\
	$COLOURS
\*------------------------------------*/
 
/**
 * Generic colours
 */
$white: rgb(255,255,255);
$black: rgb(0,0,0);


/**
 * Grays
 */
$gray-darker:  lighten( $black, 13.5% ); // #222
$gray-dark:    lighten( $black, 20% );   // #333
$gray:         lighten( $black, 33.5% ); // #555
$gray-light:   lighten( $black, 60% );   // #999
$gray-lighter: lighten( $black, 93.5% ); // #eee


/**
 * Brand stuff
 */
$bc-light-grey: rgb(237,239,240);
$bc-dark-grey: 	rgb(56,64,71);
$bc-blue: 			rgb(83,187,180);


/**
 * Base colours
 */
$body-color: $bc-light-grey;
$text-color: rgb(141, 154, 165);


/**
 * Base colours
 */
$link-color: $bc-blue;
$link-color-hover: lighten( $link-color, 20% );

/*------------------------------------*\
	$FORMS
\*------------------------------------*/

/**
 * Form state styling
 */
$error-color: 	rgb(242,222,222);
$warning-color: rgb(252,248,227);
$info-color: 		rgb(217,237,247);
$success-color: rgb(223,240,216);

/*------------------------------------*\
	$FONTS
\*------------------------------------*/

/**
 * Custom font stacks
 */
$bf-bold: "HelveticaNeueW01-65Medi" !default;
$bf-medium: "HelveticaNeueW01-75Bold" !default;