/**
 * 
 * FILE: Main (Old IE) CSS
 * 
 * AUTHOR: Forepoint (http://www.forepoint.co.uk)
 * DATE: 2013
 * VERSION 2.2
 * 
 */

/*------------------------------------*\
	$SETUP
\*------------------------------------*/

$old-ie: true;
$mq-responsive: false;
$mq-static-breakpoint: large;

/*------------------------------------*\
	$LAYOUT
\*------------------------------------*/

@import "main";

body {
	overflow: hidden;
}