/*------------------------------------*\
    $TYPE
\*------------------------------------*/

/**
 * Paragraphs
 */
p {
	@include rem((
		margin-bottom: $base-spacing-unit
	));
}

/**
 * Links
 */
ul,
ol {
	@include rem((
	 	padding-left: 40px,
	 	margin-bottom: $base-spacing-unit
	));
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	@include rem((
		margin-bottom: $base-spacing-unit
	));
}

@each $heading, $styles in $heading-styles {
 
 	#{$heading} {
 		@include font-size( map-get( $styles, font-size ) );
 	}

}


/**
 * Links
 */
a {
	 color: $link-color;
	 
	 &:hover,
	 &:active {
		 color: $link-color-hover;
	 }
}