/*------------------------------------*\
    $TYPE
\*------------------------------------*/

@mixin bf-body {
	font-family: 'Lora', serif;
	font-weight: normal;
}

@mixin bf-head {
	font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}

/*------------------------------------*\
    $TYPE
\*------------------------------------*/

@mixin bf-body {
	font-family: 'Lora', serif;
	font-weight: normal;
}

@mixin bf-head {
	font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	@include bf-head();
}

h1 { 
	@include adjust-font-size-to(36px); 
	margin: 0 0 rhythm(1, 36px) 0; // 1 line below
} 

h2 { 
	@include adjust-font-size-to(28px); 
	@include adjust-leading-to(1);
	margin: rhythm(1.2, 28px) 0 rhythm(0.3, 28px) 0; // 2 lines above 1 line below

}

h3 { 
	@include adjust-font-size-to(24px); 
	margin: rhythm(1.2, 24px) 0 rhythm(0.3, 24px) 0; // 2 lines above 1 line below
} 

h4 { 
	@include adjust-font-size-to(18px); 
	margin: rhythm(1.2, 18px) 0 rhythm(0.3, 18px) 0; // 2 lines above 1 line below
}

h5 { 
	@include adjust-font-size-to(16px); 
	margin: rhythm(1.2, 16px) 0 rhythm(0.3, 16px) 0; // 2 lines above 1 line below
}

h6 { 
	@include adjust-font-size-to(16px); 
	margin: rhythm(1.2, 16px) 0 rhythm(0.3, 16px) 0; // 2 lines above 1 line below
}

p,
pre,
label { 
	@include adjust-font-size-to(16px); 
	margin: 0 0 rhythm(1, 16px) 0; // 1 line below
}

ol,
ul {
	@include adjust-font-size-to(16px);
	margin: 0 0 rhythm(1, 16px) 0; // 1 line below
}

.title--centered {
	text-align: center;
}

/**
 * Links
 */
a {
	 color: $link-color;
	 
	 &:hover,
	 &:active {
		 color: $link-color-hover;
	 }
}